.JarvisLogo {
  height: 64px;
  width: 100%;
  margin: 0;
  padding: 0;
  .JarvisLogo-logo {
    height: 100%;
    width: 100%;
    // background-image: url('/assets/images/logo.png');
    background: pink;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
